In [1]:
import pandas as pd
import sqlite3 as sql
from pandasql import sqldf
import mysql.connector

In [2]:
cities = pd.read_csv('cities.csv')

In [3]:
countries = pd.read_csv('countries.csv')

In [6]:
#Connecting to the Database
db_con = sql.connect('cities.sql.db') #name of the database
execute_sql = db_con.cursor()

In [13]:
#Connecting to the Database
db_con_1 = sql.connect('countries.sql.db') #name of the database
execute_sql = db_con_1.cursor()

In [14]:
#to_sql method
cities.to_sql('cities_table',
              con = db_con,
              if_exists ='replace',index=False) #df name to sql table

236

In [15]:
#to_sql method
countries.to_sql('countries_table',
              con = db_con_1,
              if_exists ='replace',index=False) #df name to sql table

205

In [18]:
inner_join = pd.read_sql('''
SELECT *
FROM cities_table
INNER JOIN countries_table
ON cities_table.country_code = countries_table.code;
''', con=db_con)

In [19]:
inner_join

,name,country_code,city_proper_pop,metroarea_pop,urbanarea_pop,code,country_name,continent,region,surface_area,indep_year,local_name,gov_form,capital,cap_long,cap_lat
0,Abidjan,CIV,4765000,NaN,4765000,CIV,Cote d'Ivoire,Africa,Western Africa,322463.0,1960.0,Cote dIvoire,Republic,Yamoussoukro,-4.03050,5.33200
1,Abu Dhabi,ARE,1145000,NaN,1145000,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,Al-Imarat al-´Arabiya al-Muttahida,Emirate Federation,Abu Dhabi,54.37050,24.47640
2,Abuja,NGA,1235880,6000000.0,1235880,NGA,Nigeria,Africa,Western Africa,923768.0,1960.0,Nigeria,Federal Republic,Abuja,7.48906,9.05804
3,Accra,GHA,2070463,4010054.0,2070463,GHA,Ghana,Africa,Western Africa,238533.0,1957.0,Ghana,Republic,Accra,-0.20795,5.57045
4,Addis Ababa,ETH,3103673,4567857.0,3103673,ETH,Ethiopia,Africa,Eastern Africa,1104300.0,-1000.0,YeItyop´iya,Republic,Addis Ababa,38.74680,9.02274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Yerevan,ARM,1060138,NaN,1060138,ARM,Armenia,Asia,Middle East,29800.0,1991.0,Hajastan,Republic,Yerevan,44.50900,40.15960
226,Yokohama,JPN,3726167,NaN,3726167,JPN,Japan,Asia,Eastern Asia,377829.0,-660.0,Nihon/Nippon,Constitutional Monarchy,Tokyo,139.77000,35.67000
227,Zhengzhou,CHN,4122087,NaN,4122087,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,Zhongquo,People'sRepublic,Beijing,116.28600,40.04950
228,Zhongshan,CHN,3121275,NaN,3121275,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,Zhongquo,People'sRepublic,Beijing,116.28600,40.04950
229,Zunyi,CHN,6127009,NaN,6127009,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,Zhongquo,People'sRepublic,Beijing,116.28600,40.04950